ipython<8.0
jupyterlab
numpy
scipy
pandas
matplotlib
seaborn
ipywidgets
iProgress
accelerate
optimum
torch
transformers
spacy
scipy==1.10.1
spacy
stanza
benepar
nltk
scikit-learn
sklearn_crfsuite
gensim
pypdf
networkx
