ipython<8.0
jupyterlab
numpy
scipy
pandas
matplotlib
seaborn
ipywidgets
iProgress
accelerate
optimum
torch
transformers
spacy
ffmpeg
tf-keras
evaluate
sacrebleu
soundfile
vosk
sounddevice
ffprobe
pydub
networkx
